.top-manga {
  width: 100%;
  margin: 40px 0;

  .container {
    width: 100%;
    height: 100%;
    background-color: rgb(237 241 245);

    .wrapper-title-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
      h1 {
        font-size: 50px;
        font-family: "Bebas Neue";
      }
      .button {
        background-color: #14b8a6;
        color: white;
        font-family: "Concert One", sans-serif;
        font-weight: bold;
        width: fit-content;
        height: fit-content;
        padding: 8px 20px;
        border-radius: 6px;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .top-manga {
    .container {
      .wrapper-title-button {
        h1 {
          font-size: 35px;
        }
        .button {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .top-manga {
    .container {
      .wrapper-title-button {
        h1 {
          font-size: 30px;
        }
        .button {
          font-size: 18px;
        }
      }
    }
  }
}
